@use '../../styles/base/variables.scss' as *;
@use '../../styles/base/mixin.scss' as *;
.hero {
  padding: 7.5rem 1rem 1.875rem 1rem;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  @include desktop {
    padding: 12.1875rem 5rem 3.75rem 5rem;
    gap: 4.9375rem;
  }
  @include max-small {
    padding: 7.5rem 0rem 1.875rem 0rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 61rem;
    @include desktop {
      gap: 60px;
      flex-direction: row;
    }
  }
  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include max-small {
      padding-inline: 1rem;
    }
    @include desktop {
      max-width: 26.5rem;
      align-items: start;
    }
    @include max-tablet {
      margin-bottom: 3.75rem;
    }
  }

  &__title {
    font-size: 3.625rem;
    line-height: 4.375rem;
    font-weight: 700;
    letter-spacing: -1px;
    text-wrap: auto;
    color: $color-white;
    margin-bottom: 1.5rem;
    text-align: center;
    @include desktop {
      text-align: start;
    }
  }

  &__description {
    font-size: 1.375rem;
    line-height: 2rem;
    font-weight: 500;
    color: $color-white;
    margin-bottom: 2.8125rem;
    text-align: center;
    @include desktop {
      text-align: start;
      max-width: 22.6875rem;
    }
  }
}
