@use '../../styles/base/variables.scss' as *;
@use '../../styles/base/mixin.scss' as *;
.auth-form {
  &__input {
    padding: 12px 24px;
    border-radius: $border-radius-lg;
    border: 1px solid $color-light-gray;
    color: $border-color;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    width: 100%;
    max-width: 320px;
    transition: border-color 0.3s ease-in-out;
    &:focus {
      border-color: $light-blue;
    }
    &:nth-child(3) {
      margin-bottom: 30px;
    }
  }
  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &--checkbox {
      width: 100%;
      max-width: 320px;
      margin-bottom: 27.6px;
      .hero__checkbox {
        display: none;
        transition: all 0.3s ease-in-out;
        &:checked + .hero__label {
          &::before {
            background-color: $checked-bg-color;
            border-color: $checked-bg-color;
          }
          &::after {
            content: '';
            width: 12px;
            height: 9px;
            background: url('./../../assets/icons/icon-check-black.svg') no-repeat;
            background-size: contain;
          }
        }
      }

      .hero__label {
        position: relative;
        padding-left: 37px;
        cursor: pointer;
        font-size: 16px;
        line-height: 26px;
        color: $color-gray;
        transition: all 0.3s ease-in-out;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -2px;
          width: $checkbox-size;
          height: $checkbox-size;
          border: 2px solid $border-color;
          border-radius: $border-radius-md;
          background-color: transparent;
          transition:
            background-color 0.3s,
            border-color 0.3s;
        }

        &::after {
          position: absolute;
          display: block;
          left: 6.7px;
          top: 5.5px;
          transition: content 0.3s;
        }
      }
      .hero__error {
        position: absolute;
        bottom: -18px;
      }
    }
    &--error {
      .hero__input,
      .hero__checkbox {
        border-color: $error;
      }
      .hero__label {
        color: $error;
        &::before {
          border-color: $error;
        }
      }
    }
  }
  &__error {
    color: $error;
    font-size: 0.625rem;
    display: block;
    position: absolute;
    bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
}
