$font-primary: 'DM Sans', sans-serif;
$checkbox-size: 24px;
$border-color: #15143966;
$checked-bg-color: #25dac5;
$checkmark-color: #000;
$color-white: #fff;
$color-gray: #15143966;
$color-light-gray: #ebeaed;
$color-black: #000;
$color-turkus: #25dac5;
$deep-blue: #1e0e62;
$light-blue: #6d69e1ca;
$primary-color: #2f1893;
$error: #e53935;

$btn-primary: #e93a7d;
$btn-primary-hover: #d877cd;
$btn-secondary: #482be7;
$btn-secondary-hover: #5b55b5;
$btn-tertiary: #1da1f2;
$btn-tertiary-hover: #1a647d;

$border-radius-lg: 100px;
$border-radius-md: 6px;
$border-radius-sm: 2px;
